<style>
body {background-color: beige;}
  h1 {
    color: darkgrey;
    font-family: verdana;
    font-size: 300%;
}
w3-grayscale-min
</style>
<h1 style="border: 2px solid Tomato;">Mustafa Ibrahim</h1>
